<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-ajuarezjc/blob/main/assignment03_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alejandro Juarez Corona
A01168444

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np

#Getting the database
dataUrl = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
df = pd.read_csv(dataUrl) 
#Checking received data
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [3]:
#Here df is already a Pandas DataFrame
type(df)

pandas.core.frame.DataFrame

In [11]:
#Checking if there are any missing values
#If so, let's check all columns with empty values
hasAnyNull=df.isnull().values.any()
if hasAnyNull:
  print("There are NULLs in database. Here's the detail per column:")
  print(df.isnull().any())
else:
  print("No NULLS in entire database")

There are NULLs in database. Here's the detail per column:
ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [20]:
#Copying dataframe for first solution
df1 = df.copy()
#Just droping all rows with null info
df1.dropna(inplace = True)
df1HasNull = df1.isnull().values.any()
print("Empty values in DF1") if df1HasNull else print("No More NULLs in DF1")

#Lets compare sizes to check how many rows were dropped
print("Original DF:",df.shape)
print("Dropped Nulls DF1:",df1.shape)

No More NULLs in DF1
Original DF: (30000, 25)
Dropped Nulls DF1: (29958, 25)

In [ ]:
#Now dropping columns where one value is missing