<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-ajuarezjc/blob/main/assignment03_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alejandro Juarez Corona
A01168444
Edgar

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np

#Getting the database
dataUrl = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
df = pd.read_csv(dataUrl) 
#Checking received data
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [3]:
#Here df is already a Pandas DataFrame
type(df)

pandas.core.frame.DataFrame

In [11]:
#Checking if there are any missing values
#If so, let's check all columns with empty values
hasAnyNull=df.isnull().values.any()
if hasAnyNull:
  print("There are NULLs in database. Here's the detail per column:")
  print(df.isnull().any())
else:
  print("No NULLS in entire database")

There are NULLs in database. Here's the detail per column:
ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [20]:
#Copying dataframe for first solution
df1 = df.copy()
#Just droping all rows with null info
df1.dropna(inplace = True)
df1HasNull = df1.isnull().values.any()
print("Empty values in DF1") if df1HasNull else print("No More NULLs in DF1")

#Lets compare sizes to check how many rows were dropped
print("Original DF:",df.shape)
print("Dropped Nulls DF1:",df1.shape)

No More NULLs in DF1
Original DF: (30000, 25)
Dropped Nulls DF1: (29958, 25)

In [21]:
#Now dropping columns where one value is missing
df2 = df.copy()
df2.dropna(axis=1, inplace=True)
df2HasNull = df2.isnull().values.any()
print("Empty values in DF2") if df2HasNull else print("No More NULLs in DF2")
#Lets compare sizes to check how many columns were dropped
print("Original DF:",df.shape)
print("Dropped Nulls DF1:",df2.shape)

No More NULLs in DF2
Original DF: (30000, 25)
Dropped Nulls DF1: (30000, 2)

In [23]:
#Now only delete rows where all elements of the row are missing
#(Actually not useful since we know at least two elements are always present)
df3 = df.copy()
#Just droping all rows with null info
df3.dropna(how='all',inplace = True)
df3HasNull = df3.isnull().values.any()
print("Empty values in DF3") if df3HasNull else print("No More NULLs in DF3")

#Lets compare sizes to check how many rows were dropped
print("Original DF:",df.shape)
print("Dropped Nulls DF3:",df3.shape)

Empty values in DF3
Original DF: (30000, 25)
Dropped Nulls DF3: (30000, 25)

In [29]:
#Now testing with Threshold, to drop rows that don't have at least X number of NonNull values
df4 = df.copy()
df4.dropna(thresh=20,inplace = True)
df4HasNull = df4.isnull().values.any()
print("Empty values in DF4") if df4HasNull else print("No More NULLs in DF4")

#Lets compare sizes to check how many rows were dropped
print("Original DF:",df.shape)
print("Dropped Nulls DF4:",df4.shape)

Empty values in DF4
Original DF: (30000, 25)
Dropped Nulls DF4: (29988, 25)

In [32]:
#Let's change solution from Dropping to Imputing
df5 = df.copy()
df5.describe() #Just to have a glance of our table

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [ ]:
'''
Having the description of each variable is useful

X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
X2: Gender (1 = male; 2 = female). 
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
X4: Marital status (1 = married; 2 = single; 3 = others). 
X5: Age (year). 
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005. 
'''

In [33]:
#Let's remember the columns missing in our database
df5.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [100]:
#Let's start our data cleaning from scratch
df5 = df.copy()
#Imputation for X2:
#We'll use Mode, since there can only be 2 values
modeX2 = df5.X2.mode()[0]
df5['X2'].fillna(value=modeX2, inplace=True)
#Imputation for X3:
#We'll use Mode, since there can only be certain values.
modeX3 = df5.X3.mode()[0]
df5['X3'].fillna(value=modeX3, inplace=True)
#Imputation for X4:
#We'll use Mode, since there can only be certain values.
modeX4 = df5.X4.mode()[0]
df5['X4'].fillna(value=modeX4, inplace=True)
#Imputation for X5.
#This field contains age, so many values are possible
#Let's impute null values with the mean of the column
meanX5 = np.round(df5.X5.mean()) #Rounding the value with Numpy Round
df5['X5'].fillna(value=meanX5, inplace=True)
#Let's drop rows that have null values in any field from X6-X23.
#And check how many rows we'll be missing
X6to23 = list(df5.iloc[:,6:24].columns) #Getting columns X6 to X23
print('Dropping from columns',','.join(X6to23)) 
df5.dropna(subset=X6to23, inplace=True) #Dropping the NA values from those

oRows = df.shape[0]
nRows = df5.shape[0]
per = 100 - ((nRows * 100) / oRows)
print("Original Rows:",oRows)
print("After Imputed and Dropped Rows:",nRows)
print("Percentage of rows lost: {}%".format(per))

print("Are there Null rows after cleaning:",df5.isnull().values.any())

Dropping from columns X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
Original Rows: 30000
After Imputed and Dropped Rows: 29961
Percentage of rows lost: 0.12999999999999545%
Are there Null rows after cleaning: False